h1{
  font-family: "Arial Black";
  text-align: center;
  font-size: 30px;
  color: orangered;
  font-weight: bolder;
  margin: 10px;
  border-bottom: 2px solid orangered;

}
.fondo{
  margin: 0;
/*  padding: 30px;*/
  background-image: url('src/assets/game/pacman-ranking.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 350px auto;
  background-attachment: fixed;
  min-height: 600px;
}

.contenido {
  max-width: 60%;
  text-align: justify;
  margin: 0 25%;
  background-color: rgba(255, 255, 255, 0.70);
  /*border: solid 2px orange;*/
  padding: 20px;
}

.table-container {
  display: flex;
  justify-content: center;
  /*align-items: center;*/

}

.centered-table {
  border-collapse: collapse; /* Combina los bordes de las celdas */
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  font-family: Arial;
  font-size: 18px;
}

.centered-table th,
.centered-table td {
  border: 1px solid orange;
  padding: 8px;
  text-align: center;
}

.centered-table th {
  background-color: rgba(255, 165, 0, 0.71);
  color: white;
}

/*.centered-table tr:nth-child(even) td {
  background-color: #f9f9f9;
}*/

.buttonRanking {
  padding: 10px 20px;
  font-size: 16px;
  background-color: orange;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  margin: 5px;
}


.boton-container {
  display: flex;
  justify-content: center;
}

/*.dificultad-container {
  font-family: Arial;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}*/



.buttonRanking:hover {
  text-decoration: underline;
  background-color: #ff7300;
}


.buttonRanking:active {
  background-color: orangered;
}
