<!--<div class="">
  <div class="row">-->
<div id="htmlData"class="fondo">
  <h1>RANKING</h1>

  <div class="contenido">
    <div class="boton-container">
      <button class="buttonRanking" type="button" (click)="getRanking()">RANKING</button>
      <br/>
    </div>

    <div *ngIf="data" class="table-container">
      <table class="centered-table">
        <tr>
          <th>Id</th>
          <th>IdUser</th>
          <th>Puntos</th>
        </tr>
        <tr *ngFor="let puntuacio of data">
          <td>{{puntuacio['idclassificacio']}}</td>
          <td>{{puntuacio['idUser']}}</td>
          <td>{{puntuacio['punts']}}</td>
        </tr>
      </table>
    </div>


    <div class="boton-container">
      <button class="buttonRanking" type="button" (click)="downloadPDF()">Generar Informe RANKING</button>
    </div>
  </div>
</div>
