.fondo{
  margin: 0;
  padding: 0;
  background-image: url('src/assets/game/ksnip_20230522-011753.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 400px auto;
  background-attachment: fixed;
}


h1 {
  font-family: "Arial Black";
  text-align: center;
  font-size: 30px;
  color: orangered;
  font-weight: bolder;
  margin: 10px;
  border-bottom: 2px solid orangered;

}

h2{
  font-family: "Arial Black";
  text-align: center;
  font-size: 20px;
  color: orange;
  margin: 10px;
}

b{
  color: orange;
}

p{
  font-family: Arial;
  font-size: 14px;
}
.pacman-image {
  max-width: 300px;
  height: auto;
}

.contenido {
  max-width: 60%;
  text-align: center;
  margin: 0 25%;
  background-color: rgba(255, 255, 255, 0.70);
  /*border: solid 2px orange;*/
  padding: 20px;
}

.imagenContainer{
  text-align: center;
}
