<div class="menu-container">
  <div class="image-container">
    <img src="/assets/game/1200px-Pac_man_logo.svg.png" alt="Pac-Man Logo"/>
  </div>
  <nav>
    <ul>
      <li routerLink="/" routerLinkActive="selected" [routerLinkActiveOptions]="{ exact: true }"> INICIO</li>
      <li routerLink="/Ayuda" routerLinkActive="selected">AYUDA</li>
      <li routerLink="/Juego" routerLinkActive="selected">JUEGO</li>

      <li routerLink="/Login" routerLinkActive="selected">LOGIN</li>
      <li routerLink="/Registro" routerLinkActive="selected">REGISTRO</li>
      <li routerLink="/Clasificacion" routerLinkActive="selected">CLASIFICACIÓN</li>
    </ul>
  </nav>
</div>
<router-outlet/>


<!--  * * * * * * * * ANGULAR II validacions formularis  * * * * * * * *-->
<!--<app-exercici-form-logger></app-exercici-form-logger>-->

<!--  * * * * * * * * ANGULAR II informes  * * * * * * * * -->
<!--  <app-exercici-informe></app-exercici-informe>-->

<!--  * * * * * * * * NODEJS VS ANGULAR  * * * * * * * * -->
<!--
<div class="container">
  <div class="column">
    <app-anime1></app-anime1>
    <app-anime2></app-anime2>
    <app-anime3></app-anime3>
  </div>
  <div class="column">
    <app-exercici1></app-exercici1>
    <app-exercici2></app-exercici2>
    <app-exercici3></app-exercici3>
  </div>
</div>
-->
