<ul>
  <li *ngFor="let user of data">
    <div>
      <p>Identificador: {{ user['id'] }}</p>
      <p>Nom:  {{ user['nom'] }}</p>
      <p>Contrasenya: {{ user['password'] }}</p>
    </div>
  </li>
</ul>

<button type="button" (click)="getUsuaris()">Usuaris</button>

