/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  display: flex;
  /*justify-content: space-around;*/
  justify-content: center;


}

nav ul li {

  cursor: pointer;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  color: yellow;

}

nav ul li:hover {

  color: white;
}

nav ul li.selected {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
.image-container {
  padding: 20px 0px 0px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {

  height: 100%;
  width: auto;
}

.menu-container{
  background-color: orange;

}
