.contenido {
  max-width: 60%;
  text-align: justify;
  margin: 0 25%;
  background-color: rgba(255, 255, 255, 0.70);
  /*border: solid 2px orange;*/
  padding: 20px;
}
h1 {
  font-family: "Arial Black";
  text-align: center;
  font-size: 30px;
  color: orangered;
  font-weight: bolder;
  margin: 10px;
  border-bottom: 2px solid orangered;
}

.fila {
  display: flex;
  justify-content: center;
  background-color: white;
}

.cel-la {
  background-color: white;
  width: 50px;
  height: 50px;
}

.empty {
  background-color: white;
}

.wall {
  background: url("src/assets/game/wall.png") no-repeat;
}

.pacman {
  background: url("src/assets/game/pacman.png") no-repeat;
  /*transform: scaleX(-1);*/
}

.ghost {
  background: url("src/assets/game/f1.png") no-repeat;
}


.fruita {
  background: url("src/assets/game/empty.png") no-repeat;
  /*background: url("src/assets/game/cherry.png") no-repeat;*/
}
.muerte {
  background: url("src/assets/game/pacman_ko.jpg") no-repeat;
  /*background: url("src/assets/game/cherry.png") no-repeat;*/
}

.mensaje-ganador {
  font-family: "Arial Black";
  text-align: center;
  font-size: 44px;
  color: green;
  font-weight: bolder;
  margin: 2px;

}

.mensaje-perdedor {
  font-family: "Arial Black";
  text-align: center;
  font-size: 44px;
  color: red;
  font-weight: bolder;
  margin: 2px;

}
.puntuacion{
  color: #1ec41e;
  text-align: center;
  font-family: Arial;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 5px;

}
/*.reiniciar-dificultad-container {
   text-align: center;
   margin-top: 20px;
 }*/

.reiniciar-container {
  display: flex;
  justify-content: center;
}

.dificultad-container {
  font-family: Arial;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.reiniciar-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: orange;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}
.reiniciar-button:hover {
  text-decoration: underline;
}


.reiniciar-button:active {
  background-color: orangered;
}


.elige-dificultad {
  font-family: Arial;
  font-size: 15px;
  margin-right: 10px;
}

.dificultad-select {
  padding: 5px;
  font-size: 16px;
}
